body{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-image: url('r4.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    gap: 10px;
}
.p1{
    font-size: x-large;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
input{
    width: 300px;
    padding: 10px ;
    border: 1px solid black;
    border-radius: 5px;

}
input:focus{
border: 1px solid black;
border-radius: 5px;
box-shadow: 2px 2px 5px black;
zoom: 105%;
 transform: scale(1.05);
    transition: all 0.3 ease-in-out;

}
button{
    background: none;
    border: none;
    font-size: medium;
}
button:hover{
    cursor: pointer;
    border: 1px black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    width: 100px;
    height: 40px;
    transform: scale(1.05);
    transition: all 0.3 ease-in-out;
}
.file-actions {
    margin: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-download {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-upload {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.btn-download:hover, .btn-upload:hover {
    opacity: 0.8;
}